<script type="text/javascript">
// <![CDATA[

/* This is part of the form_maker mod for phpBB3 copyright phpbbireland.com 2012 */

function postform_check(status)
{
	for (var i = 0; i < document.forms.postform.length; i++ )
	{
		var match_string = 'templatefield';
		var store = name1 = document.forms.postform.elements[i].name;
		var req = document.forms.postform.elements[i].required;

		name1 = name1.split("_");
		name1 = name1[0];

		if(match_string == name1 && req)
		{
			if(document.forms.postform.elements[i].value == "")
			{
				alert('{LA_REQUIRED}');
				document.forms.postform.elements[i].focus();
				return(false);
			}
		}
		return(true);
	}
}

// ]]>
</script>

<!-- IF MODE == 'post' -->
<div id="thisform" style="display:none; width:auto; margin-left:auto; margin-right:auto;" class="post bg1" >
	<div class="inner"><span class="corners-top"><span></span></span>

			<fieldset class="fields2" style="border-radius: 5px;">
			<!-- BEGIN form_apptemplate -->
			<dl>
				<dt><p><strong>{form_apptemplate.NAME}:<span title="{L_MANDATORY}">{form_apptemplate.MANDATORY}</span></strong></p></dt>
				<dd>{form_apptemplate.TYPE}</dd>
			</dl>

			<!-- END form_apptemplate -->
			</fieldset>

			<div style="margin-top: -10px; margin-bottom: 20px; margin-left: 17.5em; text-align:left;"><span style="color: #ff0000">*</span> {L_MANDATORY}</div>

			<fieldset class="submit-buttons">
			<input type="submit" accesskey="s" name="post" value="{L_SUBMIT}" class="button1 default-submit-action" onclick="postform_check(true);" />&nbsp;
			<input type="reset" name="reset" value="{L_RESET}" class="button1" />
			{S_FORM_TOKEN}
			<input type="button" class="button2" accesskey="f" name="useform" value="{L_CLOSE_FORM}" style="font-weight:normal; width: 50px" onclick="ShowHide('thisform','message-box');ShowHide('form_hide','format-buttons');ShowHide('smiley-box');" title="{L_CLOSE_FORM_EXPLAIN}" />
			</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- ENDIF -->
